body {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Merriweather', serif;
}

main ,
footer {
    margin: 0 auto;
    width: 90%;
}

main {
    max-width: 690px;
    color: rgb(47, 57, 68);
}

footer {
    margin-top: 20px;
    margin-bottom: 150px;
    font: italic bold .75em 'Merriweather' , serif;
    opacity: 40%;
}

legend {
    border-top: 2px solid rgb(47, 57, 68);
    margin-top: 2px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 7px;
    font: 600 1.05em 'Merriweather' , serif;
    
}

fieldset {
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

h1 {
    background-color: rgb(47, 57, 68);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .9em;
}

h2 {
    margin-bottom: 0;
    font-size: larger;
}

p {
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 300;
    opacity: 53%;
    font-size: .8em;
}

label {
    padding-top: 15px;
    padding-bottom: 10px;
    opacity: 85%;
    font-size: .9em;
    font-weight: lighter;
}

label ,
input{
    display: block;
}

input[type="checkbox"] ,
input[type="radio"] ,
label[class="newsletter-format"] ,
label[class="newsletter"]{
    display: initial;
}

.call-to-action {
    margin: 0 auto;
    margin-bottom: 2px;
    border-bottom: 4px solid rgb(47, 57, 68);
}

option[class="instruction"] {
    padding-left: 15px;
    opacity: 75%;
    font-size: .75em;
}
::placeholder {
    text-align: right;
    opacity: 75%;
    font-size: .75em;
    font-style: italic;
}

input[type="text"] ,
input[type="tel"] ,
textarea ,
select {
    border: none;
    background-color: rgb(239, 240, 241);
    border-radius: 4px;
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
}

input[id="zip"] {
    max-width: 140px;
}


input[type="text"] ,
input[type="tel"] ,
select {
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

select {
    width: 100%;
    font-weight: 300;
    font-size: smaller;
    color:rgba(127, 127, 127, 0.909);
}

input[type="checkbox"] ,
input[type="radio"] {
    transform: scale(.75);
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 90px;
    padding-top: 10px;
    background-color: rgb(239, 240, 241);
}

button {
    background-color: rgb(78, 187, 181);
    color: white;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}

label[class="newsletter"] ,
label[class="newsletter-format"] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

:focus {
    outline: 2px solid rgb(70, 105, 139);
}

@media screen and (min-width: 768px) {
    
    h1 {
        margin-bottom: 40px;
    }

    legend {
        padding-top: 45px;
    }
    
    .same-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .same-line-exception {
        display: flex;
        justify-content: space-between;
        width: 321px;
        align-items: center;
    }

    div > label {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    input[type="text"] ,
    input[type="tel"] {
        width: 508px;
    }

    select {
        width: 538px;
    }
    
}